<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/">
        <link rel="stylesheet" href="styles/main.css" />
    </base>
    <title>Book Notes</title>
</head>
<body>
<main>
    <!-- Navbar -->
  <nav class="nav-bar">
    <a class="no-underline" href="/"><h1>Book Notes</h1></a>
    <ul class="nav-links-list no-dot-list">
      <li><a href="/">Home</a></li>
      <li><a href="/add">Add Book</a></li>
    </ul>
  </nav>
